{# empty Twig template #}
{% extends "SitioBundle:Default:Base.html.twig" %}
{% block title %}Legal{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
<div class="container-fluid">
</div>