{% extends "SitioBundle:Default:Base.html.twig" %}
{% block title %}Privacidad{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
<div class="container-fluid"> 
    <div class="row">
            <div class="col-lg-12 moveHeader visible-lg">
                <h1 class="text-right text-bold">Política de Privacidad</h1>
            </div>
    </div>
    

<h3>¿Cómo usaremos la información que nos facilitas?</h3>
<p>
Toda la información que nos transmitas será tratada de manera confidencial. Tan sólo tú y las personas de Move Language que estén a tu servicio podrán conocer tus datos personales, porque nuestras páginas web están alojadas en un servidor seguro. Nuestro servidor, donde se encuentran nuestras páginas y donde recibimos tu información, cuenta con los más avanzados sistemas de protección, de forma que nadie que carezca de autorización puede acceder a la información que contiene.

De conformidad con lo dispuesto en el art. 5 de la Ley Orgánica 15/1999 sobre Protección de Datos de Carácter Personal (LOPD), te informamos que tus datos personales formarán parte de ficheros de titularidad de BA Language Group, con la finalidad de prestar adecuadamente el servicio solicitado, dar cumplimiento a los requisitos de facturación y contabilidad de la compañía, realizar análisis estadísticos, verificar tarjetas de crédito y otras formas de pago, así como realizar comunicaciones comerciales por correo electrónico sobre otros productos que podrían ser de tu interés.

Tus datos personales serán tratados con la máxima confidencialidad y con el deber de secreto requeridos. BA Language Group ha adoptado las medidas técnicas y organizativas definidas en el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de a LOPD 15/1999.

Puedes ejercitar tus derechos de acceso, rectificación, cancelación y oposición mediante comunicación escrita, adjuntando fotocopia del DNI o documento identificativo equivalente, ante BA Language Group en Florida 716 PB (1005) - CABA.
</p>
<h3>Google Analytics</h3>
<p>
Nuestra página web utiliza Google Analytics, un servicio de análisis web de Google Inc (“Google”). Google Analytics utiliza las llamadas “cookies”, pequeñas informaciones que se almacenan en tu ordenador, para analizar el uso que haces de la página web.

Google, en representación de nuestro sitio web, usa esta información también para recopilar informes de la actividad del sitio y para prestar otros servicios relacionados con el uso de Internet. La dirección IP transmitida por tu navegador dentro de Google Analytics no se asocia con otros datos de Google.

Es posible impedir el almacenamiento de cookies a través de una funcionalidad integrada en el navegador. No obstante, ten en cuenta que si desactivas el almacenamiento, no podrás utilizar íntegramente todas las funciones de nuestra página web.

Puedes encontrar más información sobre el uso y la protección de datos de Google Analytics en http://www.google.com/analytics/terms/es.html o en https://support.google.com/analytics/answer/6004245?hl=es.
</p>
<h3>Plug-ins sociales</h3>
<p>
Nuestro sitio web incluye funcionalidades de redes sociales, como botones de Facebook y Twitter. Tales funcionalidades pueden recopilar tu dirección IP e información sobre la página que estás visitando y pueden establecer cookies para funcionar correctamente. Las interacciones con estas funcionalidades quedan regidas por las políticas de privacidad de la empresa que las ofrece.

Para más información sobre el alcance de la recogida de datos y su uso por Facebook y Twitter, visita las páginas http://www.facebook.com/policy.php y http://twitter.com/privacy.
</p>
<h3>Acceso, revisión y eliminación de tu información</h3>
<p>
Puedes acceder, revisar y corregir la información de registro a través de la página de tu cuenta en “Mi cuenta”.

Conservaremos tu información mientras tu cuenta esté activa o si creemos que es posible que puedas volver a ser un usuario, o según sea necesario para cumplir con nuestras obligaciones legales, resolver controversias y hacer valer nuestros acuerdos.

Puedes pedir la cancelación de tus datos personales por e-mail o por correo ordinario.

La solicitud debe contener al menos los siguientes datos:

    Nombre de usuario
    Nombre y apellidos
    Dirección de e-mail
    Dirección postal

Por favor, ten en cuenta que los datos eliminados pueden seguir siendo consultados sin que estén presentes en nuestros sistemas, debido a los sistemas de caché, los motores de búsqueda y la interconexión de los servidores proxy y similares.
</p>
    
{% endblock body%}