{% extends "EmpresaBundle:Default:empresa.base.html.twig" %}
{% block title %}Empresa{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block empresa_index %}class="active"{% endblock %}
{% block empresa_title %}Empresa{% endblock %}

{% block empresa_body %}
    <div class="container-fluid">

    <h1>¿ Qué es MOVE ? </h1>
    <p>
        MoveLanguage es el sitio de capacitatión virtual diseñado totalmente por BA Language Group.
    <p>
        Desde hace más de 20 años BA Language Group se dedica a la capacitación de idiomas de forma presencial. El objetivo ha sido siempre satisfacer
        las necesidades de nuestros alumnos a través de brindarles una capacitación orientada a resultados ágiles y exitosos.
    <p>
        MoveLanguage es el resultado de una continua dedicación a la investigación y ansias de mejora de nuestros profesionales, uniendo experiencia
        y alta tecnología para brindar un servicio diferente que se adecúe a las necesidades y posibilidades de cada uno.
    <p>
        MoveLanguage ha sido creado teniendo en cuenta siempre a nuestros clientes en mente, sus necesidades, dificultades, problemáticas y posibilidades
        tanto en lo referente a las necesidades idiomáticas como logísticas y de tiempo. Nuestro objetivo principal es que la capacitación sea efectiva y
        de resultados rápidos para lo cual hemos diseñado cursos que apuntan a lograr una comunicación productiva con un lenguaje global para el
        mundo laboral.
    <!--
    <h2> Nuestra Misión </h2>
    <p>
        Nuestra misión es ayudar a mejorar la comunicación entre empresa a través de una comunicacíon efectiva entre individuos,
        colaborando así no sólo con el exito profesional del individuo y la empresa sino también con las interrrelaciones humanas.
    -->
    <h2> Nuestro Compromiso </h2>
    <p>
        Estar al servicio de nuestros clientes.
    <p>
        Desarrollar al máximo el potencial de nuestros alumnos para lograr ayudarlos a obtener resultados duraderos y efectivos.
    <p>
        Acrecentar la motivación de nuestros profesionales para estar siempre atentos a la nuevas tecnologías y metodologías que les permitan crecer
        y desarrollarse en un ambiente colaborativo, para así brindar un servicio de constante calidad.
    <p>
        Desafiarnos continuamente para asegurar un negocio exitoso y de constante crecimiento, basado en una visión de largo plazo que nos permita
        unificarnos a favor de la prosperidad de nuestra empresa. Estar seguros que si la empresa crece el valor que podamos brindar al mundo crecerá
        con nosotros.
    </div>
    
            
        

{% endblock %}
{# empty Twig template #}
