{# empty Twig template #}
{% extends "EmpresaBundle:Empresa:empresa.base.html.twig" %}
{% block title %}Un cambio a eLearning{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block empresa_elearning %}class="active"{% endblock %}
{% block empresa_title %}Un Cambio a eLearning{% endblock %}
{% block empresa_body %} 
    <div class="container-fluid">
    
    <img class="img-responsive" src="{{ asset('img/UnCambioAeLearning.png') }}" alt="" style="margin-right:5%; margin-left:5%">
    
    <p>
        No hace falta decir cúan importante es ser capaz de dominar una lengua extranjera en estos días, en especial si uno es un profesional con grandes
        expectativas de éxito laboral. Todos sabemos esto, pero ¿quién dispone hoy del tiempo suficiente para abandonar la oficina dos veces a la
        semana por un par de horas para asistir a una capacitación? Siempre hay alguna prioridad que requiere nuestra atención y nuestra clase de
        idioma toma por lo general un segundo lugar.
    </p>
    <p>
        Sin embargo, la necesidad del manejo de la lengua extranjera continúa siendo un deber y debemos enfrentarnos a esta lucha interna entre las
        tareas a cumplir y nuestra clase. Esta lucha debe terminar de algún modo.
    </p>
    <p>
        Existen diferentes métodos para aprender una lengua extranjera y la mayoría son lo suficientemente buenos como para servirnos de ayuda. Lo
        importante es descubrir qué tipo de alumnos somos y elegir el modo de aprendizaje que sea más eficaz para nosotros.
    </p>
    <p>
        Hay tres aspectos que deben ser considerados antes de decidir:
    <ul class="greyBullet">
        <li>En primer lugar, nuestro tipo de personalidad: ¿Soy una persona sociable? ¿Suelo necesitar de la guía o el apoyo de un tutor o soy del tipo que puede aprender solo?
            <br>
            ¿Necesito que mis preguntas sean respondidas de forma inmediata? ¿Me siento cómodo con el uso de la tecnología en mi aprendizaje? ¿Qué me motiva a querer aprender?
        </li>
        
        <li>En segundo lugar,
            ¿Puedo contar con tiempo dentro de mis horas laborales para capacitarme o debo utilizar mi tiempo libre?
        </li>
        <li>
            Por último, ¿Cuáles son las habilidades o competencias que debo lograr en lo referente al manejo de una lengua extranjera?
            <br>
            ¿Sobre qué áreas específicas debo capacitarme? ¿Sobre qué temas específicos debo volcar mi capacitación?
        </li>
    </ul>
    </p>
    <p>
        La mayoría de nosotros hemos crecido y sido educados sobre las base de una capacitación en el aula por lo que nos sentimos cómodos en ese ámbito.
        Nos gusta y hasta a veces necesitamos tener a alguien que nos esté esperando, en un horario particular y chequeando que allí estamos.
        Seguramente tener un instructor listo para ayudarnos sea nuestra mejor opción, pero definitivamente no es la única. Nuevas 
        metodologías han surgido, nuevos canales de enseñanza que nos brindan sus beneficios y de los cuales podemos beneficiarnos.
    </p>
    <!--
    <h1>Métodos de enseñanza-aprendizaje y sus beneficios</h1>
    <h2>CLASES CON TUTOR EN EMPRESA</h2>
    <p>
        
        Dos problemas desaparecen aquí. Primero, ya no tenemos que movernos fuera de la oficina por un tiempo considerable de horas para trasladarnos a otro sitio a tomar nuestras clases y segundo, 
        la clase se acomoda al horario que sea mejor para nuestra complicada agenda.
    </p>
    <p>
        Los recursos a utilizar en clase y las actividades a realizar en la misma son más faciles de llevar a cabo y más semejantes a las situaciones reales
        y al lugar real donde podemos llegar a usar el idioma.
    </p>
    
     <h2>CLASES CON METODOLOGÍA BLENDED LEARNING</h2>
    <p>
       
        La falta de tiempo, los frecuentes viajes, las reuniones fuera de la oficina o el teletrabajo no necesariamente deben llevar al fin de nuestras posibilidades
        de asistir a clases o de desistir a tomarlas con un profesor, si ese es el estilo que más nos satisface como alumnos. Un muy buen resultado puede obtenerse usando una mezcla 
        entre el modo de enseñanza tradicional y el modo virtual. Con la nueva tecnología puesta a disposición de la enseñanza ya no hay excusas para abandonar nuestra capacitación.
        Los salones virtuales nos permiten estar presentes no importa dónde nos encontremos y a la vez podemos continuar disfrutando de la calidez de nuestro tutor.
    </p>
    -->
    <h2>E-LEARNING</h2>
    <p>
        
        La tecnología ha mejorado la efectividad de la enseñanza virtual.
        Un ambiente distendido en el que manejamos nuestros tiempos y nuestro lugar pueden también ser observados como una ventaja y cuando nos volcamos a 
        utilizar el idioma en una variedad de circustancias, el enfoque colaborativo del método eLearning es de gran utilidad.
    </p>
    <p>
        La riquísima variedad de herramientas de las que hoy disponemos, tanto docentes como alumnos, nos permiten mejorar día a día nuestro rendimiento y
        utilizarlas a favor de nuestro desarrollo como profesionales. Está en nosotros descubrirlas y usarlas en nuestro beneficio.
    </p>
    </div>
{% endblock %}