{% extends "ProductoBundle:Default:producto.base.html.twig" %}
{% block title %}Productos{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block move_premium %} class="active" {% endblock %}
{% block producto_title %}Move Premium{% endblock %}
{% block producto_body %} 
    <div class="container-fluid">

    <h1>Move Premium</h1>
    <p>
        Move Premium es un servicio de capacitación online con todas las ventajas de la tecnología y la seguridad de contar con un tutor disponible 
        para tí en cada clase.
    <p>
        Este servicio ofrece alta interacción, materiales y actividades diseñados para tus necesidades específicas. Podrás ajustar tus 
        tiempos y horarios agendando las horas de clase que consideres mas óptimas para tí teniendo en cuenta tus posibilidades de 
        tiempo y económicas.
    <p>
        Este servicio premium te permitirá hablar en línea con docentes bilingües y nativos desarrollando así tus habilidades lingüísticas de manera 
        más dinámica, más real y entretenida.
    <p>
        Las actividades de ejercitación serán evaluadas en forma automática y también por un tutor que podrá brindarte feedback respecto a tu 
        desempeño y avance. De esta manera, el aprendizaje será más fluido y podrás aclarar tus dudas de forma directa.
    <p>
        Move Premium también cuenta con una certificación de logros después de cada módulo aprobado.
    </div>
{% endblock %}
