{% extends "ProductoBundle:Default:producto.base.html.twig" %}
{% block title %}Productos{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block move_talk %} class="active" {% endblock %}
{% block producto_title %}Move Talk{% endblock %}
{% block otherLanguages %}
    <li>Portugués </li>
    <li>Italiano </li>
{%endblock%}
{% block producto_body %}
    <div class="container-fluid">
   
    
    <h1>Move Talk</h1>
    <p>
        Todas las ventajas de tener acceso a nuestra plataforma virtual las 24 horas más clases sincrónicas con un profesor, en forma individual o como parte de un grupo.
    </p>
    <p>
        Nuestra visión respecto de cómo capacitar es simplemente enfocándonos en la mejora de las capacidades de cada persona y elevando su motivación.

        Todos los productos MOVE cuentan con un sistema automático de verificación de progreso a través de la corrección de ejercicios, de un puntaje otorgado a cada práctica, de la medición de compromiso con el curso y de una evaluación de avances por módulo.
    </p>
    </div>
{% endblock %}
