{% extends "ProductoBundle:Default:producto.base.html.twig" %}
{% block title %}Productos{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block move_corp %} class="active" {% endblock %}
{% block producto_title %}Move Corporate{% endblock %}
{% block producto_body %} 
    <div class="container-fluid">

    <h1>Move Corp</h1>
    <p>
        Move dedica recursos exclusivos a la formación de objetivos y contenidos orientados a 
        las necesidades e intereses de cada compañía.
    </p>   
     
    <p>
        Nuestros programas se enfocan en la mejora de las capacidades de 
        cada colaborador, elevando su motivación, a la par de un esquema costo-beneficio que favorece a su empresa.
    </p>
    <p>
        Dado que nuestros modelos de enseñanza on-line son direccionados a sus necesidades en tanto sean estas puramente de capacitación eLearning 
        como conjugada con asistencia en linea y/o capacitación presencial, los invitamos a que nos contacten para contar con sus datos y motivación de acercamiento a Move.
    </p>
    <p>
        Puede realizar cualquier consulta en la sección de <a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">Contacto</a>
    </p>
    <p>
        <strong>Gracias por su interés en MOVE</strong>
    </p>
    </div>
{% endblock %}