{# empty Twig template #}
{% extends "ProductoBundle:Default:productos.base.html.twig" %}

{% block producto_body %}
    
<section class="move-productos-section" id="moveProductos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                <div class="aos-item aos-animate" data-aos="fade-up" data-aos-duration="750"><a href="productos"></a>
        <!--<div class="container-fluid">-->
                    <div class="jumbotron">
                        <h1>Productos Move</h1>
                        <p>
                            Nuestros productos estan basados en nuestra experiencia de saber cuáles son los estándares de calidad solicitados por nuestros clientes y buscar satisfacerlos.
                        </p>
                        <p>
                            Nuestra calidad consiste en identificar, interiorizar, satisfacer y superar de forma continua las expectativas de nuestros clientes. Para nosotros la 
                            calidad es una forma de pensamiento.
                        </p>
                        <p>
                            Las exigencias físicas y temporales de hoy abren las puertas a una alternativa de capacitación basada en el autoaprendizaje a través de aulas
                            virtuales. La capacitación online ha probado ser efectiva en casos en los cuales el tiempo y la logística de nuestras actividades laborales no nos permiten acceder
                            a una capacitación convencional en el aula.
                        </p>
                        <p>
                            Con este método, los alumnos pueden concentrarse en una cosa por vez y a su propio ritmo, sin distracciones y acompañados de herramientas tecnológicas
                            que permitan inducir y producir el conocimiento requerido en un ambiente apropiado en el momento apropiado.
                        </p>
                        <p>
                            Para satirfacer las necesidades de cada uno, MoveLanguage ha desarrollado diferentes productos con el objetivo de satisfacer distintos tipos de 
                            requerimientos y posibilidades.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                            <a class="btn btn-success btn-block">Empieza Move!</a>
                        </div>
                    </div>
        <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="move-productos-section" id="moveCore">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                <div class="aos-item aos-animate" data-aos="fade-up" data-aos-duration="750"><a href="moveCore"></a>
                    <div class="jumbotron">
                        <h1>Move Core</h1>
                        <p>
                            Move Core es un producto basado en una modalidad de autoaprendizaje, con una estrategia de explicación teórica, demostración, ejercitación, evaluación y ejecución.
                        </p>
                        <p>
                            Los contenidos están divididos por niveles. Cada nivel se encuentra dividido en módulos con temáticas identificadas como de necesidad para las situaciones 
                            de la vida laboral y cotidiana. Los contenidos formales de cada módulo han sido seleccionados y revisados para darles a los alumnos herramientas esenciales 
                            de comunicación considerando sus intereses e inquietudes, sus conocimientos ya existentes y sus objetivos.
                        </p>
                        <p>
                            Move Core cuenta con un sistema automático de verificación de progreso a través de la corrección de tus ejercicios, de un puntaje otorgado 
                            a cada práctica, de la medición de tu compromiso con el curso y de una evaluación de avances por módulo.
                        </p>
                        <p>
                            La aprobación de cada módulo es requisito para lograr adquirir una certificación que acredite el logro de los objetivos planteados.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                            <a class="btn btn-success btn-block">Empieza con Move Core!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="move-productos-section" id="moveCoach">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                <div  class="aos-item aos-animate" data-aos="fade-up" data-aos-duration="750">
                    <div class="jumbotron">
                        <h1>Move Coach</h1>
                        <p>
                            Con los mismos beneficios que <strong>Move Core</strong>, pero con la posibilidad de consultar tus dudas
                            con un tutor y de participar de un blog de estudiantes en tu misma situacion.
                        </p>
                        <p>
                            Esta interacción te permitirá avanzar más ágilmente, basándote no sólo en la riqueza de los materiales sino también en una asistencia didáctica.
                        </p>
                        <p>
                            Move Coach también cuenta con un sistema automático de medición y certificación de objetivos.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                            <a class="btn btn-success btn-block">Empieza con Move Coach!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="move-productos-section" id="moveCorp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                <div  class="aos-item aos-animate" data-aos="fade-up" data-aos-duration="750">
                    <div class="jumbotron">
                        <h1>Move Corp</h1>
                        <p>
                            Move dedica recursos exclusivos a la formación de objetivos y contenidos orientados a 
                            las necesidades e intereses de cada compañía.
                        </p>   
                        <p>
                            Nuestros programas se enfocan en la mejora de las capacidades de 
                            cada colaborador, elevando su motivación, a la par de un esquema costo-beneficio que favorece a su empresa.
                        </p>
                        <p>
                            Dado que nuestros modelos de enseñanza on-line son direccionados a sus necesidades en tanto sean estas puramente de capacitación eLearning 
                            como conjugada con asistencia en linea y/o capacitación presencial, los invitamos a que nos contacten para contar con sus datos y motivación de acercamiento a Move.
                        </p>
                        <p>
                            Puede realizar cualquier consulta en la sección de <a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">Contacto</a>
                        </p>
                        <p>
                            <strong>Gracias por su interés en MOVE</strong>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                            <a class="btn btn-success btn-block">Empieza con Move Corp!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="move-productos-section" id="movePremium" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                <div class="aos-item aos-animate" data-aos="fade-up" data-aos-duration="750">
                    <div class="jumbotron">
                        <h1>Move Premium</h1>
                        <p>
                            Move Premium es un servicio de capacitación online con todas las ventajas de la tecnología y la seguridad de contar con un tutor disponible 
                            para tí en cada clase.
                        </p>
                        <p>
                            Este servicio ofrece alta interacción, materiales y actividades diseñados para tus necesidades específicas. Podrás ajustar tus 
                            tiempos y horarios agendando las horas de clase que consideres mas óptimas para tí teniendo en cuenta tus posibilidades de 
                            tiempo y económicas.
                        </p>
                        <p>
                            Este servicio premium te permitirá hablar en línea con docentes bilingües y nativos desarrollando así tus habilidades lingüísticas de manera 
                            más dinámica, más real y entretenida.
                        </p>
                        <p>
                            Las actividades de ejercitación serán evaluadas en forma automática y también por un tutor que podrá brindarte feedback respecto a tu 
                            desempeño y avance. De esta manera, el aprendizaje será más fluido y podrás aclarar tus dudas de forma directa.
                        </p>
                        <p>
                            Move Premium también cuenta con una certificación de logros después de cada módulo aprobado.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                            <a class="btn btn-success btn-block">Empieza Move Premium!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="move-productos-section" id="moveTalk">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                <div class="aos-item aos-animate" data-aos="fade-up" data-aos-duration="750">
                    <div class="jumbotron">
                        <h1>Move Talk</h1>
                        <p>
                            Todas las ventajas de tener acceso a nuestra plataforma virtual las 24 horas más clases sincrónicas con un profesor, en forma individual o como parte de un grupo.
                        </p>
                        <p>
                            Nuestra visión respecto de cómo capacitar es simplemente enfocándonos en la mejora de las capacidades de cada persona y elevando su motivación.

                            Todos los productos MOVE cuentan con un sistema automático de verificación de progreso a través de la corrección de ejercicios, de un puntaje otorgado a cada práctica, de la medición de compromiso con el curso y de una evaluación de avances por módulo.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                            <a class="btn btn-success btn-block">Empieza con Move Talk!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    <script>
        
        $(document).ready(function(){
            $("body").append("<div class='move-scrollup' style=\"height:50px;\"><i class=\"fa fa-home fa-x4\"></i></div>");
            $(window).scroll(function(){
                if ($(this).scrollTop() > 0) $('.move-scrollup').fadeIn();
                else $('.move-scrollup').fadeOut();
            });
            $(document).on("click",".move-scrollup",function(e){
                e.preventDefault();
                $("html, body").stop().animate({scrollTop:0}, "slow");
            });
            $(document).on("click",".btn",function(e){
                e.preventDefault();
                var id="#move"+$(this).attr("id");
                
                if(id!=="#moveProductos"){
                    $("html, body").stop().animate({scrollTop:$(id).offset().top}, "slow");
                }
                else{
                    $("html, body").stop().animate({scrollTop:0}, "slow");
                }
            });
        });
        

    </script>
{% endblock%}