{% extends "ProductoBundle:Producto:producto.base.html.twig" %}
{% block title %}Productos{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block productos_move %} class="active" {% endblock %}
{% block producto_title %} Productos Move{% endblock %}
{% block producto_body %} 
    <div class="container-fluid">
    <h1>Productos Move</h1>
    <p>
        Nuestros productos estan basados en nuestra experiencia de saber cuáles son los estándares de calidad solicitados por nuestros clientes y buscar satisfacerlos.
    <p>
        Nuestra calidad consiste en identificar, interiorizar, satisfacer y superar de forma continua las expectativas de nuestros clientes. Para nosotros la 
        calidad es una forma de pensamiento.
    <p>
        Las exigencias físicas y temporales de hoy abren las puertas a una alternativa de capacitación basada en el autoaprendizaje a través de aulas
        virtuales. La capacitación online ha probado ser efectiva en casos en los cuales el tiempo y la logística de nuestras actividades laborales no nos permiten acceder
        a una capacitación convencional en el aula.
    <p>
        Con este método, los alumnos pueden concentrarse en una cosa por vez y a su propio ritmo, sin distracciones y acompañados de herramientas tecnológicas
        que permitan inducir y producir el conocimiento requerido en un ambiente apropiado en el momento apropiado.
    <!--
    <p>
        Para poder aplicar este conocimiento en diferentes y variadas circunstancias, un enfoque colaborativo es de mucha utilidad. La tecnología nos permite aceder a un mejor aprendizaje online, más afectivo y real a través del uso de simulaciones
        web conferencing y tecnología web 2.0.
    -->
    <p>
        Para satirfacer las necesidades de cada uno, MoveLanguage ha desarrollado diferentes productos con el objetivo de satisfacer distintos tipos de 
        requerimientos y posibilidades.
        
    </div>
{% endblock %}

